@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(53, 59, 72, 0.85);
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 60px;
  width: 100%;
  background-color: rgb(53, 59, 72);
}
body footer {
  flex: 0 0 60px;
  width: 100%;
  background-color: rgb(53, 59, 72);
}
body .content {
  width: 100%;
  flex: 1 0 0%;
}

.palette {
  position: relative;
  overflow: hidden;
}
.palette__grid {
  display: grid;
  width: 100%;
  height: calc(100vh - 120px);
}
.palette__grid > button {
  border: none;
  cursor: pointer;
  transition: all 1000ms ease;
}
.palette .navigation {
  position: absolute;
  top: 0px;
  left: calc(50% - 135px);
  display: flex;
  flex-direction: column;
  width: 270px;
}
.palette .navigation_main, .palette .navigation_format, .palette .navigation_palette {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 0;
  transition: all 250ms ease;
}
.palette .navigation_main button, .palette .navigation_format button, .palette .navigation_palette button {
  color: rgb(236, 240, 241);
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: none;
  cursor: pointer;
}
.palette .navigation_main button:hover, .palette .navigation_format button:hover, .palette .navigation_palette button:hover {
  background-color: rgb(53, 59, 72);
  transition: all 250ms ease;
}
.palette .navigation_main button {
  width: 50%;
  background-color: rgba(53, 59, 72, 0.85);
}
.palette .navigation_main button:first-child {
  border-radius: 0 0 0 5px;
}
.palette .navigation_main button:last-child {
  border-radius: 0 0 5px 0;
}
.palette .navigation_main.open {
  transition: all 250ms ease;
}
.palette .navigation_format {
  overflow: hidden;
  background-color: rgba(53, 59, 72, 0.85);
}
.palette .navigation_format button {
  width: 33.3333333333%;
  background-color: transparent;
}
.palette .navigation_format.open {
  height: 80px;
}
.palette .navigation_palette {
  overflow-y: scroll;
  background-color: rgba(53, 59, 72, 0.85);
}
.palette .navigation_palette button {
  width: 50%;
  background-color: transparent;
}
.palette .navigation_palette.open {
  height: 80px;
}
.palette .navigation.close {
  height: 0;
  transition: all 250ms ease;
}
.palette .navigation.open {
  transition: all 500ms ease;
}
.palette .navigation .notification {
  width: 100%;
  overflow: hidden;
}
.palette .navigation .notification.close {
  height: 0;
  transition: all 250ms ease;
}
.palette .navigation .notification.open {
  height: 120px;
  transition: all 500ms ease;
}
.palette .navigation .notification .wrapper {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.palette .navigation .notification .wrapper span {
  background-color: rgba(53, 59, 72, 0.85);
}
.palette .navigation .notification .wrapper span.text {
  color: rgb(236, 240, 241);
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
.palette .navigation .notification .wrapper span.title {
  color: rgb(236, 240, 241);
  font-size: 18px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.palette .navigation .notification .wrapper span.color {
  color: rgb(236, 240, 241);
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  position: relative;
  align-self: flex-start;
  padding: 10px 10px 10px 40px;
  border-radius: 0 0 5px 0;
}
.palette .navigation .notification .wrapper span.color::before {
  content: "";
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  background-image: url("../images/copy.svg");
}
.palette .navigation .notification .wrapper span.randomtext {
  color: rgb(236, 240, 241);
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  align-self: flex-end;
  padding: 10px;
  border-radius: 5px 0 0 0;
}